/*	レスポンシブ モバイルファースト
******************************************************/
@charset "UTF-8";
/*	スマートフォン(すべて)
******************************************************/
html{
	font-size: calc(100vw/64);
}

/*
******************************************************/

/*
******************************************************/



/*	タブレット(幅:640px以上)
******************************************************/
@media (min-width: 640px){
	html{
		font-size: calc(100vw/96);
	}
	/*
	**************************************************/
	/*
	**************************************************/
}


/*	PC(幅:960px以上)
******************************************************/
@media (min-width: 960px){
	html{
		font-size: calc(100vw/120);
	}
	/*
	**************************************************/
	/*
	**************************************************/
}


/*	PC(幅:1200px以上)
******************************************************/
@media (min-width: 1200px){
	html{
		font-size: calc(100vw/192);
	}
	/*
	**************************************************/
	/*
	**************************************************/
}
